{% extends 'core/list.html' %}
{% load static %}

{% block head_list %}

    

{% endblock %}


{% block add %}

        <a class="btn btn-primary mb-3" id="btnAdd" href="{{ create_url }}">
            <i class="fas fa-plus"></i> Nueva {{ entity }}
        </a>
{% endblock %}
{% block columns %}
              <tr>
                <th scope="col" style="display: none;">Id</th>
                <th scope="col">Nombre Categoria</th>
                <th scope="col">Descripción</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
              </tr>
{% endblock %}
{% block rows %}
            {% comment %} {% for category in object_list %}
                <tr>
                    <td>{{ category.nombre_categoria }}</td>
                    <td>{{ category.descripcion }}</td>
                    {% if category.estado == True %}
                        <td style="color: green;">Activo</td>
                    {% else %}
                        <td style="color: red">Inactivo</td>
                    {% endif %}
                    <td>
                        <a href={% url 'core:category_update' category.id %} class="btn btn-warning btn-sm">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a href="#" id="btnDelete" data-url="{% url 'core:category_delete' category.id %}" class="btn btn-danger btn-sm"> 
                            <i class="fas fa-trash"></i> Eliminar
                        </a>
                        <a href="#" data-url="{% url 'core:category_toggle_estado' category.id %}" class="btn btn-success btn-sm toggle-btn"> 
                            <i class="fas fa-check"></i> Cambiar Estado
                        </a> 
                    </td>
                </tr>
                {% endfor %} {% endcomment %}
{% endblock %}
